In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.buider.appName('Practice').getOrCreate()

In [ ]:
spark.read.csv('Missing_Values.csv', header = True, inferSchema = True)

In [ ]:
spark.read.csv('Missing_Values.csv', header = True, inferSchema = True).show()

In [ ]:
df_pyspark = spark.read.csv('Missing_Values.csv', header = True, inferSchema = True)

In [ ]:
df_pyspark.show()

In [ ]:
## Dropping Columns

In [ ]:
df_pyspark.drop('Name')

In [ ]:
df_pyspark.drop('Name').show()

In [ ]:
df_pyspark = df_pyspark.drop('Name')

In [ ]:
## Deleting all rows that contain null values

In [ ]:
df_pyspark.na.drop().show()

In [ ]:
df_pyspark.na.drop(how = 'any').show()

In [ ]:
## Deleting only rows that contain ALL colunms with null values

In [ ]:
df_pyspark.na.drop(how = 'all').show()

In [ ]:
## Threshould

In [ ]:
### Deleting rows that contain at least less than 2 non null values

In [ ]:
df_pyspark.na.drop(how = 'any', thresh = 2).show()

In [ ]:
### Deleting rows that contain at least less than 2 non null values

In [ ]:
df_pyspark.na.drop(how = 'any', thresh = 3).show()

In [ ]:
## Subset

In [ ]:
### Deleting rows that contain null values in a specific column

In [ ]:
df_pyspark.na.drop(how = 'any', subset = ['Age']).show()

In [ ]:
## Filling the Missing Values

In [ ]:
### Replacing the null values with the expression 'Missing Values'

In [ ]:
df_pyspark.na.fill('Missing Values').show()

In [ ]:
### Replacing the null values with the expression 'Missing Values' only in a specific column

In [ ]:
df_pyspark.na.fill('Missing Values', ['Experience']).show()

In [ ]:
### Replacing the null values with the expression 'Missing Values' only in two specific columns

In [ ]:
df_pyspark.na.fill('Missing Values', ['Experience', 'Age']).show()

In [ ]:
### Replacing the null values with the mean value of the columns using function 'Imputer'

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'],
    outputCols = [f'{c}_imputed' for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy('mean')

In [ ]:
#### Add inputation cols to df

In [ ]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

In [ ]:
#### I also could fill null values by median values intead of mean. I only would use 'median' inside the parentheses of setStrategy